<form class="{{cssClass}}" autocomplete="off">
	<main class="sheet-body">
		<div class="form-group">
			<label>{{localize "YZEC.CombatTracker.SelectColor"}}</label>
			<div class="form-fields">
				<input type="color" title="{{localize "YZEC.CombatTracker.SelectColor"}}" id="groupColor" value="{{groupColor}}" data-edit="groupColor"/>
			</div>
		</div>
		<div class="form-group">
			<button class="reset-color">{{localize "YZEC.CombatTracker.ResetColor"}}</button>
			<button class="submit">{{localize "YZEC.CombatTracker.SubmitColor"}}</button>
		</div>
	</main>
</form>
